/* ---------- СТИЛІ ---------- */
:root {
    --tex-color: #434455;
    --title-color: #2e2f42;
    --background-color: #FFFFFF;
    --hero-titel: #FFFFFF;
    --portfolio-bg-focus: #FFFFFF;
    --hero-bg-text: #FFFFFF;
    --subtitle-color: #2e2f42;
    --header-logo-hi: #2e2f42;
    --header-item: #2e2f42;
    --background-color-hero: #2e2f42;
    --background-color-footer: #2e2f42;
    --ocean-color: #404bbf;
    --iris-color: #4D5AE5;
    --cornflower: #E7E9FC;
    --cloud: #f4f4fd;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding-left: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
}
/* < !-- HEADER --> */
/* < !-- SECTION_1 --> */

.hero {
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 600px;
    /* або background-size: contain; */
    width: 100%;
    max-width: 100%;
    /* максимальна ширина контейнера */
    margin: 0 auto;
    /* вирівнювання по центру */
    text-align: center;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: url(../images/dark-bg-mob.png), url(../images/people-office-mob.png);
}




.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--hero-titel);
    text-transform: capitalize;

    margin-bottom: 72px;
}

/*********** BUTTON_HERO ***********/
.hero-button {
    display: inline-block;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    min-height: 56px;
    border: 1px solid transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    background-color: var(--iris-color);
    cursor: pointer;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--hero-bg-text);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--ocean-color);

}

/*********** SECTION_2_STRATEGY ***********/
.strategy {
    padding-top: 96px;
    padding-bottom: 96px;
}
