/* ---------- СТИЛІ ---------- */
:root {
    --tex-color: #434455;
    --title-color: #2e2f42;
    --background-color: #FFFFFF;
    --hero-titel: #FFFFFF;
    --portfolio-bg-focus: #FFFFFF;
    --hero-bg-text: #FFFFFF;
    --subtitle-color: #2e2f42;
    --header-logo-hi: #2e2f42;
    --header-item: #2e2f42;
    --background-color-hero: #2e2f42;
    --background-color-footer: #2e2f42;
    --ocean-color: #404bbf;
    --iris-color: #4D5AE5;
    --cornflower: #E7E9FC;
    --cloud: #f4f4fd;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    /* padding-left: 0; */
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.link {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
}
/* .container {
  margin-left: auto;
  margin-right: auto;
  list-style: none;

  outline: tomato solid 1px;

} */
/* < !-- HEADER --> */
/* < !-- SECTION_1 --> */

.hero {
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: auto 600px; */
    /* або background-size: contain; */
    width: 100%;
    max-width: 100%;
    /* максимальна ширина контейнера */
    margin: 0 auto;
    /* вирівнювання по центру */
    text-align: center;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: url(../images/dark-bg-mob.png), url(../images/people-office-mob.png);
}




.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--hero-titel);
    text-transform: capitalize;

    margin-bottom: 72px;
}

/*********** BUTTON_HERO ***********/
.hero-button {
    display: inline-block;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    min-height: 56px;
    border: 1px solid transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    background-color: var(--iris-color);
    cursor: pointer;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--hero-bg-text);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--ocean-color);

}

/*********** SECTION_2_STRATEGY ***********/
.strategy {
    padding-top: 96px;
    padding-bottom: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.strategy-container {
    width: 428px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0px;
}
.stratrgy-li{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 74px;
}

.strategy-sub{
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;

    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: #2E2F42;
    
}
.strategy-txt{
    margin-top: 8px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

/*********** SECTION_3_DOING ***********/
@media (min-width: 0px) and (max-width: 1158px) {
    .doing {
        display: none;
    }
 

    /*********** SECTION_4_TEAM ***********/
.team {
    padding-top: 96px;
    padding-bottom: 96px;
    background: #F4F4FD;
}

.team-container {

    padding-left: 82px;
    padding-right: 82px;
    margin: 0px;
}
.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.team-company {
    margin-top: 72px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
   
    justify-content: center;
    align-items: center;

}

.team-people {
    background-color: var(--background-color);
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-item {
    padding-top: 32px;
    padding-bottom: 32px;
}
.team-sub {
    align-items: baseline;
}

.team-tex {
    margin-top: 8px;
    align-items: baseline;
}

.team-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.team-soc-item {
    width: 40px;
    height: 40px;

}

.team-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--iris-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover,
.team-soc-link:focus {
    background-color: var(--ocean-color);

}


}

